# File extensions to ignore, in general.
*.root # ROOT output files
*.txt  # text output files
*.pdf  # PDF output files
*.pyc  # compiled Python files
*.npz  # NumPy output files
*.npy  # NumPy output files
*.sh   # bash scripts

# Include the documentation PDF.
!gm2fr.pdf

# Ignore Python cache directories.
__pycache__
analysis/__pycache__
simulation/__pycache__

# Ignore specific files.
datasets.py

# Generally, ignore any subdirectories unless explicitly allowed below.
*/

# Keep the simulation directory, but ignore further subdirectories by default.
!simulation
simulation/*/

# Keep the analysis directory, but ignore further subdirectories by default.
!analysis
analysis/*/

# Keep the scripts directory.
!scripts

# Keep an empty simulation/data folder, but not any contents.
!simulation/data
simulation/data/*
!simulation/data/.gitkeep

# Keep the simulation examples folder and files, but not subdirectories.
!simulation/examples
simulation/examples/*/

# Keep an empty gm2fr/analysis/results folder, but not any contents.
!analysis/results
analysis/results/*
!analysis/results/.gitkeep
