# File extensions to ignore, in general.
*.root # ROOT output files
*.txt  # text output files
*.pdf  # PDF output files
*.pyc  # compiled Python files
*.npz  # NumPy output files
*.npy  # NumPy output files
*.sh   # bash scripts

# Include the documentation PDF.
!gm2fr.pdf

# Ignore Python cache directories.
__pycache__

# Generally, ignore any subdirectories unless explicitly allowed below.
*/

# Keep the src folder.
!src

# Keep an empty simulation folder.
!simulation
simulation/*
!simulation/sample
!simulation/.gitkeep

# Keep the scripts directory.
!scripts

# Keep an empty results folder.
!results
results/*
!results/.gitkeep
